:root {
	--blue: #74aced;
	--offwhite: #fafafa;
	--darkgrey: #333333;
}

html,body, #root, .layout{
	min-height: 100%;
	width: 100%;
	margin: 0;
	position: absolute;
	background-color: var(--offwhite);
	overflow: visible;
}

.layout>div:nth-child(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	padding-bottom: 60px;
}

.header {
	display: flex;
	height: 60px;
	background-color: #222;
	color: white;
	align-items: center;
	font-size: 1.5rem;
}

	.header .back {
		padding: 10px 20px;
		cursor: pointer;
		background-position: 60% 20%;
		background-repeat: no-repeat;
	}

a {
	color: #74aced;
}

a.block {
	display: block;
}

.print-only {
	display: none!important;
}

.no-print {
	width: 100%;
}

@media print {
	@page {
		size: auto;
		margin: 10px;
	}

	input::-webkit-calendar-picker-indicator {
		display: none;
	}

	* {
		transition: none !important;
	}

	.print-page {
		page-break-after: always;
		page-break-inside: avoid;
		break-before: page;
		break-after: page;
		break-inside: avoid;
		display: block!important;
		position: relative!important;
	}

	a {
		color: #222;
		text-decoration: none;
	}

	.header {
		display: none;
	}
	
	.button {
		display: none!important;
	}

	.print-only {
		display: block!important;
	}

	.school-header {
		text-align: center;
		font-weight: bolder;

		display: block!important;
		position: relative!important;
		break-inside: avoid;
		break-before: page;
		page-break-before: always;
		page-break-inside: avoid;
	}

	.no-print {
		display: none!important;
	}
}

.header a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

.header .profile {
	margin-left: auto;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	font-size: 1rem;
}

.table.row {
	justify-content: space-between;
	line-height: 1.5rem;
}

	.table.row *{
		width: 100%;
	}

	.table.row .centered {
		text-align: center;
	}

	.table.row *:last-child {
		text-align: right;
	}
	.table.row *:first-child {
		text-align: left;
	}

.section {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}


.form .row {
	margin: 5px 0;
	flex-direction: column;
	width: 100%;
}
	.form .row>* {
		width: 100%;
	}

	.form .row label {
		color: #aaa;
		transition: all .2s ease-out;
	}

	.row:focus-within label {
		color: #74aced;
		font-weight: bold;
	}

	@media only screen and (min-width: 768px) {

		.form .row {
			flex-direction: row;
			margin: 10px 0;
		}

		.form .row>* {
			width: 30%;
		}
		
		.form .row>*:last-child {
			margin-left: auto;
		}

		/*
		.button:hover {
			color: #fafafa;
			background-color: #222;
		}
		*/

		.form input {
			min-width: 30%;
		}
		
		.form select {
			min-width: 30%;
		}

		.form textarea {
			min-width: 30%;
		}

		.form .button {
			width: initial;
			margin-left: auto;
		}
	}


	.form .save {
		margin-left: auto;
		margin-top: 10px;
	}

.form input {
	background-color: inherit;
	border: none;
	border-bottom: 1px solid black;
	transition: all .2s ease-in;
	outline: none;
	padding: 0 5px;
	box-sizing: border-box;
}

	input[disabled] {
		background-color: #aaa;
	}

	input[type="checkbox"] {
		width: 30px;
		height: 30px;
	}
	
	input[type="date"] {
		background-color: initial;
		height: 40px;
		border: 1px solid #bbb;
		border-radius: 5px;
	}

	input[type=text], input[type=url], input[type=email], input[type=password], input[type=tel], input[type=number], input[list] {
		-webkit-appearance: none; -moz-appearance: none;
		display: block;
		margin: 0;
		height: 40px;
		line-height: 40px; 
		font-size: 17px;
		border: 1px solid #bbb;
		border-radius: 5px;
	}

	select {
		height: 40px;
		background-color: initial;
		border-radius: 5px;
		font-size: 17px;
		padding: 0 5px;
	}

	select:focus {
		background-color: white;
	}

	.form input:focus {
		background-color: white;
		border: 1px solid #4DA2DF;
		border: 1px solid #74aced;
	}


.title {
	margin: 20px 0;
	font-size: 2.0rem;
	/*color: #777;*/
}

.divider {
	/*color: #aaa;*/
	margin: 20px auto;
	font-size: 1.8rem;
	text-align: center;
}


textarea {
	background-color: inherit;
	resize: none;
	border: 1px solid #bbb;
	height: 80px;
	overflow-y: auto;
	padding: 5px;
	box-sizing: border-box;
}

	textarea:focus {
		background-color: white;
		border: 1px solid black;
	}

.button {
	color: #222;
	border: 3px solid #222;
	border: 3px solid rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 10px 15px;
	transition: all .3s linear;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	user-select: none;
	box-shadow: none;
	display: block;
}


	.section .row .button {
		padding: 5px 10px;
	}

	.form .button.save-old {
		/*background-color: #95B8D1;*/
		background-color: #4DA2DF;
		color: #fafafa;
		border: 1px solid black;
	}

	.button.red {
		background-color: #EDAFB8;
		background-color: #fc6171;
		color: #fafafa;
		border: 3px solid rgba(0,0,0,0.2);
	}

	.red-shadow {
		box-shadow: 5px 5px 5px #ffb9b7;
	}

	.button.blue, .button.save {
		background-color: #74aced;
		color: #fafafa;
		border: 3px solid rgba(0,0,0,0.2);
	}

	.blue-shadow {
		box-shadow: 5px 5px 5px #8fd0f6;
	}

	.button.green {
		background-color: #5ecdb9;
		color: #fafafa;
		border: 3px solid rgba(0,0,0,0.2);
	}


	.green-shadow {
		box-shadow: 5px 5px 5px #99eae1;
	}

	.button.yellow {
		background-color: #f4d29f;
		color: #fafafa;
		border: 3px solid rgba(0,0,0,0.2);
	}

	.yellow-shadow {
		box-shadow: 5px 5px 5px #ffe7c2;
	}

	.button.print-old {
		background-color: #f4d29f;
		box-shadow: 3px 3px 5px #ffe7c2;
		color: #e0e0e0;
		border: 3px solid rgba(0,0,0,0.2);
	}

	.button.black {
		background-color: #222222;
		color: #fafafa;
		border: 3px solid rgba(0,0,0,0.2);
	}

	.black-shadow {
		box-shadow: 5px 5px 5px #555555;
	}

	.button.grey, .button.print {
		background-color: #e0e0e0;
		color: #222222;
		border: 3px solid rgba(0,0,0,0.2);
	}

	.grey-shadow, .gray-shadow {
		box-shadow: 5px 5px 5px #aaa;
	}

	.button.purple {
		background-color: #7e88f7;
		color: #fafafa;
		border: 3px solid rgba(0,0,0,0.2);
	}

	.purple-shadow {
		box-shadow: 5px 5px 5px #cbc9f0;
	}

	.button.orange {
		background-color: #ff6b68;
		color: #fafafa;
		border: 3px solid rgba(0,0,0,0.2);
	}

	.orange-shadow {
		box-shadow: 5px 5px 5px #ffb9b7;
	}

	.bg-purple {
		background-color: #7e88f7;
		color: #fafafa;
	}

	.bg-grey {
		background-color: #e0e0e0;
		color: #222222;
	}

	.bg-orange {
		background-color: #ff6b68;
		color: #fafafa;
	}
	.bg-red {
		background-color: #fc6171;
		color: #fafafa;
	}

	.bg-blue {
		background-color: #74aced;
		color: #fafafa;
	}

	.bg-green {
		background-color: #5ecdb9;
		color: #fafafa;
	}

	.bg-yellow {
		background-color: #f4d29f;
		color: #fafafa;
	}

	.bg-black {
		background-color: #222222;
		color: #fafafa;
	}

	.border-purple {
		border: 3px solid #7e88f7;
	}

	.border-grey {
		border: 3px solid #e0e0e0;
	}

	.border-orange {
		border: 3px solid #ff6b68;
	}
	.border-red {
		border: 3px solid #fc6171;
	}

	.border-blue {
		border: 3px solid #74aced;
	}

	.border-green {
		border: 3px solid #5ecdb9;
	}

	.border-yellow {
		border: 3px solid #f4d29f;
	}

	.border-black {
		border: 3px solid #222222;
	}

	.button.light-blue {
		background-color: #95B8D1;
		color: #fafafa;
		border: 1px solid black;
	}

	.button.selected, .button:hover {
		box-shadow: 0px 0px;
	}

input::-webkit-calendar-picker-indicator {
	opacity: 100;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	display: none;
}

.tabs a {
	margin: 10px;
}

.tabs {
	flex-wrap: wrap;
	justify-content: center;
}

.horizontal-scroll-container {
	display: flex;
	width: 100%;
	scroll-snap-type: x mandatory;
	scroll-snap-points-y: repeat(100vw);
	flex-wrap: nowrap;
	overflow-x: auto;
}

	.horizontal-scroll-container>* {
		min-width: 100vw;
		scroll-snap-align: start;
	}

.logo-container{
    display: flex;
    justify-content: center;
	align-items: center;
}
.header-logo {
	max-width: 100px;
	max-height: 100px;
	left: 0;
	display:inline;
	border: none;
	box-shadow: none;
}
.header-body{
	display: flex;
	width: 100%;
	margin-top: 10px;
}
.header-style{
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20%;
}

.tag-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}
.tag-row{
	flex-direction: row;
	margin: 2px 2px;
}

.tags {
	align-items: center;
	flex-wrap: nowrap;
	height: 50px;
}

.tag {
    padding: 8px 5px;
	height: 5px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius:2px; 
	margin: 2px;
	background-color: rgba(0,0,0,0.05);
	color: #222;
	font-size: .7rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	flex-shrink: 0;
	align-items: center;
}

.deletable-tag-wrapper {
	display: flex;
	flex-direction: row;
	cursor: pointer;
}
	.deletable-tag-wrapper .tag {
		margin: 0;
		border-radius: 2px 0 0 2px;
	}

.cross {
	font-size: inherit;
	border: 1px solid #bbb;
	border-left: none;
	padding: 0 5px;
	display: flex;
	align-items: center;
	border-radius: 0 2px 2px 0;
}

:hover.cross{
	background-color: #ff6b68;
	color: #fafafa;
}
